<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div class="main">
    <div class="display">
        <div id="main_form_div">
<div id="data_field">
   
    <form action="http://localhost:4100/admin/add-product" method="post" id="product_form">
        <input type="hidden" name="product_id" id="product_id">
<label for="name">Item Name</label>
<input type="text" name="name" id="name">
<br>
<label for="price">price</label>
<input type="number" name="price" id="price">
<br>
<label for="details">details</label>
<input type="text" name="details" id="details">
<br>
<button type="submit" id="submit_btn">add product</button>
<button  id="pre_submit" > add product with pre filled value</button>

    </form>

   
</div>
</div>
<div id="display_data"></div>

    </div>
    <h2>date -28/4/2023 by krishna -github->gitkrishnaa</h2>
    </div>
  
</body>
<script src="main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</html>